<table class="table table-sm">
  <thead>
    <tr>
      <th>Organizing Committee</th><th></th>
    </tr>
  </thead>
  
  <tbody>
    <tr>
      <td>Nan Lu</td>
      <td>The University of Tokyo, RIKEN AIP 東京大学, 理研AIP</td>
    </tr>
    <tr>
      <td>Yivan Zhang</td>
      <td>The University of Tokyo, RIKEN AIP 東京大学, 理研AIP</td>
    </tr>
    <tr>
      <td>Takashi Ishida 石田 隆</td>
      <td>The University of Tokyo 東京大学</td>
    </tr>
    <tr>
      <td>Hoang NT</td>
      <td>Tokyo Institute of Technology, RIKEN AIP 東京工業大学, 理研AIP</td>
    </tr>
    <tr>
      <td>Kai Arulkumaran</td>
      <td>Araya</td>
    </tr>
  </tbody>

  <thead>
    <tr>
      <th>Advisory Committee</th><th></th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td>Masashi Sugiyama 杉山 将</td>
      <td>RIKEN AIP, The University of Tokyo 理研AIP, 東京大学</td>
    </tr>
    <tr>
      <td>Gang Niu</td>
      <td>RIKEN AIP 理研AIP</td>
    </tr>
  </tbody>
</table>
