<table class="table table-sm">
  <tbody>
    <tr>
      <td>Nan Lu</td>
      <td>The University of Tokyo, RIKEN-AIP</td>
    </tr>
    <tr>
      <td>Yivan Zhang</td>
      <td>The University of Tokyo, RIKEN-AIP</td>
    </tr>
    <tr>
      <td>Takashi Ishida</td>
      <td>The University of Tokyo</td>
    </tr>
    <tr>
      <td>Hoang NT</td>
      <td>Tokyo Institute of Technology, RIKEN-AIP</td>
    </tr>
    <tr>
      <td>Kai Arulkumaran</td>
      <td>Araya</td>
    </tr>
  </tbody>
</table>
