<div class="accordion pb-5">
  {% for event in site.events %}
  <div class="card">
    <!-- header -->
      <div class="card-header {{event.category}} text-left collapsed" 
      data-toggle="collapse" data-target="#{{ event.title }}" 
      aria-expanded="false" aria-controls="{{ event.title }}">
        <h6 class="font-weight-light">{{ event.datetime | date: "%F %R" }}</h6>
        <h5 class="card-title">{{ event.title }}</h5>
        <h6 class="card-subtitle font-weight-light">{{ event.speaker }} | {{ event.affiliation }}</h6>
      </div>
    <!-- body -->
    <div id="{{ event.title }}" class="collapse">
      <div class="card-body">
        <p class="card-text">{{ event.details }}</p>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
