.head-image {
  height: 100vh;
  min-height: 400px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.content {
  h2 {
    font-size: 30px;
    font-weight: 300;
    padding-top: 96px;
    margin-top: -66px;
  }

  h3 {
    font-size: 20px;
    font-weight: 300;
    margin-top: 20px;
  }
}


.invited-talk {
  background-color: lighten(#c0a2c7, 10%);
  &:hover {
    background-color: #c0a2c7;
  }
}

.author-talk {
  background-color: lighten(#dcdddd, 10%);
  &:hover {
    background-color: #dcdddd;
  }
}

.break {
  background-color: lighten(#f0cfa0, 10%);
  &:hover {
    background-color: #f0cfa0;
  }
}
