@charset "utf-8";

html {
  scroll-behavior: smooth;
}

.head-image {
  height: 100vh;
  min-height: 400px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.content {
  h2 {
    font-size: 30px;
    font-weight: 300;
    padding-top: 66px;
    margin-top: -66px;
  }

  h3 {
    font-size: 20px;
    font-weight: 300;
    margin-top: 20px;
  }
}


.invited {
  background-color: #dbd0e6;
}

.invited:hover {
  background-color: #a59aca;
}
